.pkmark {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/marks.png);
}
.pkmark-smiley {
  width: 87px;
  height: 63px;
  background-position: 0px 0px;
}
.pkmark-rare {
  width: 62px;
  height: 90px;
  background-position: -89px 0px;
}
.pkmark-zero-energy {
  width: 61px;
  height: 93px;
  background-position: -153px 0px;
}
.pkmark-kindly {
  width: 90px;
  height: 66px;
  background-position: -216px 0px;
}
.pkmark-unsure {
  width: 81px;
  height: 78px;
  background-position: -308px 0px;
}
.pkmark-prideful {
  width: 73px;
  height: 103px;
  background-position: -391px 0px;
}
.pkmark-teary {
  width: 95px;
  height: 87px;
  background-position: -466px 0px;
}
.pkmark-zoned-out {
  width: 79px;
  height: 103px;
  background-position: -563px 0px;
}
.pkmark-snowy {
  width: 79px;
  height: 106px;
  background-position: -644px 0px;
}
.pkmark-scowling {
  width: 101px;
  height: 85px;
  background-position: -725px 0px;
}
.pkmark-flustered {
  width: 85px;
  height: 105px;
  background-position: -828px 0px;
}
.pkmark-peeved {
  width: 87px;
  height: 104px;
  background-position: -915px 0px;
}
.pkmark-lunchtime {
  width: 88px;
  height: 108px;
  background-position: -1004px 0px;
}
.pkmark-sleepy-time {
  width: 119px;
  height: 77px;
  background-position: -1094px 0px;
}
.pkmark-humble {
  width: 101px;
  height: 97px;
  background-position: -1215px 0px;
}
.pkmark-sandstorm {
  width: 101px;
  height: 100px;
  background-position: -1318px 0px;
}
.pkmark-angry {
  width: 102px;
  height: 101px;
  background-position: -1421px 0px;
}
.pkmark-dusk {
  width: 118px;
  height: 87px;
  background-position: -1525px 0px;
}
.pkmark-pumped-up {
  width: 119px;
  height: 88px;
  background-position: -1645px 0px;
}
.pkmark-vigor {
  width: 103px;
  height: 105px;
  background-position: -1766px 0px;
}
.pkmark-calmness {
  width: 115px;
  height: 95px;
  background-position: -1871px 0px;
}
.pkmark-misty {
  width: 109px;
  height: 102px;
  background-position: -1988px 0px;
}
.pkmark-upbeat {
  width: 113px;
  height: 99px;
  background-position: -2099px 0px;
}
.pkmark-rowdy {
  width: 103px;
  height: 111px;
  background-position: -2214px 0px;
}
.pkmark-absent-minded {
  width: 107px;
  height: 109px;
  background-position: -2319px 0px;
}
.pkmark-intense {
  width: 97px;
  height: 120px;
  background-position: -2428px 0px;
}
.pkmark-joyful {
  width: 117px;
  height: 99px;
  background-position: -2527px 0px;
}
.pkmark-rainy {
  width: 109px;
  height: 109px;
  background-position: -2646px 0px;
}
.pkmark-cloudy {
  width: 125px;
  height: 96px;
  background-position: -2757px 0px;
}
.pkmark-crafty {
  width: 120px;
  height: 101px;
  background-position: -2884px 0px;
}
.pkmark-destiny {
  width: 119px;
  height: 101px;
  background-position: 0px -122px;
}
.pkmark-charismatic {
  width: 117px;
  height: 105px;
  background-position: -121px -122px;
}
.pkmark-curry {
  width: 118px;
  height: 106px;
  background-position: -240px -122px;
}
.pkmark-dawn {
  width: 118px;
  height: 106px;
  background-position: -360px -122px;
}
.pkmark-intellectual {
  width: 117px;
  height: 107px;
  background-position: -480px -122px;
}
.pkmark-excited {
  width: 116px;
  height: 111px;
  background-position: -599px -122px;
}
.pkmark-ferocious {
  width: 115px;
  height: 112px;
  background-position: -717px -122px;
}
.pkmark-slump {
  width: 114px;
  height: 113px;
  background-position: -834px -122px;
}
.pkmark-thorny {
  width: 107px;
  height: 119px;
  background-position: -950px -122px;
}
.pkmark-fishing {
  width: 119px;
  height: 109px;
  background-position: -1059px -122px;
}
.pkmark-stormy {
  width: 108px;
  height: 120px;
  background-position: -1180px -122px;
}
.pkmark-jittery {
  width: 123px;
  height: 107px;
  background-position: -1290px -122px;
}
.pkmark-uncommon {
  width: 121px;
  height: 109px;
  background-position: -1415px -122px;
}
.pkmark-blizzard {
  width: 117px;
  height: 119px;
  background-position: -1538px -122px;
}
.pkmark-dry {
  width: 120px;
  height: 121px;
  background-position: -1657px -122px;
}
