
.pksymbol-wrapper {
    width:67px;
    height:58px;
    line-height:56px;
    text-align:center;
    display:inline-block;
    vertical-align:middle;
    padding:1px;
}
 
.pksymbol {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/symbols.png);
  image-rendering: crisp-edges;
  image-rendering: -ms-interpolation-mode:nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}
@mixin sprite-rect ($w, $h, $x, $y) {
  width: $w;
  height: $h;
  background-position: $x $y;
}

.pksymbol-form-mega4{
  @include sprite-rect(15px, 15px, 0px, 0px);
}
.pksymbol-form-mega-overlay{
  @include sprite-rect(16px, 16px, -17px, 0px);
}
.pksymbol-form-mega3{
  @include sprite-rect(16px, 16px, -35px, 0px);
}
.pksymbol-body-head-base-gen6{
  @include sprite-rect(18px, 27px, -53px, 0px);
}
.pksymbol-body-head-gen6{
  @include sprite-rect(24px, 20px, -73px, 0px);
}
.pksymbol-body-head-legs-gen6{
  @include sprite-rect(23px, 22px, -99px, 0px);
}
.pksymbol-body-fins-gen6{
  @include sprite-rect(24px, 23px, -124px, 0px);
}
.pksymbol-body-bipedal-tailless-gen6{
  @include sprite-rect(19px, 30px, -150px, 0px);
}
.pksymbol-body-tentacles-gen6{
  @include sprite-rect(26px, 23px, -171px, 0px);
}
.pksymbol-body-insectoid-gen6{
  @include sprite-rect(26px, 25px, -199px, 0px);
}
.pksymbol-body-multiple-gen6{
  @include sprite-rect(24px, 27px, -227px, 0px);
}
.pksymbol-body-serpentine-gen6{
  @include sprite-rect(27px, 23px, -253px, 0px);
}
.pksymbol-body-wings-multiple-gen6{
  @include sprite-rect(29px, 24px, -282px, 0px);
}
.pksymbol-form-gigantamax{
  @include sprite-rect(30px, 23px, -313px, 0px);
}
.pksymbol-body-head-arms-gen6{
  @include sprite-rect(32px, 23px, -345px, 0px);
}
.pksymbol-body-quadruped-gen6{
  @include sprite-rect(25px, 29px, -379px, 0px);
}
.pksymbol-body-wings-single-gen6{
  @include sprite-rect(29px, 26px, -406px, 0px);
}
.pksymbol-body-bipedal-tailed-gen6{
  @include sprite-rect(27px, 30px, -437px, 0px);
}
.pksymbol-form-mega2{
  @include sprite-rect(28px, 28px, -466px, 0px);
}
.pksymbol-move-special{
  @include sprite-rect(43px, 28px, -496px, 0px);
}
.pksymbol-move-physical{
  @include sprite-rect(43px, 30px, -541px, 0px);
}
.pksymbol-move-status{
  @include sprite-rect(43px, 30px, -586px, 0px);
}
.pksymbol-body-head{
  @include sprite-rect(51px, 42px, -631px, 0px);
}
.pksymbol-body-head-base{
  @include sprite-rect(39px, 57px, -684px, 0px);
}
.pksymbol-body-bipedal-tailless{
  @include sprite-rect(37px, 58px, -725px, 0px);
}
.pksymbol-body-head-legs{
  @include sprite-rect(48px, 53px, -764px, 0px);
}
.pksymbol-body-serpentine{
  @include sprite-rect(53px, 48px, -814px, 0px);
}
.pksymbol-body-fins{
  @include sprite-rect(59px, 43px, -869px, 0px);
}
.pksymbol-body-multiple{
  @include sprite-rect(52px, 51px, -930px, 0px);
}
.pksymbol-body-tentacles{
  @include sprite-rect(49px, 54px, -984px, 0px);
}
.pksymbol-body-wings-multiple{
  @include sprite-rect(56px, 46px, 0px, -60px);
}
.pksymbol-body-insectoid{
  @include sprite-rect(55px, 51px, -58px, -60px);
}
.pksymbol-body-wings-single{
  @include sprite-rect(58px, 49px, -115px, -60px);
}
.pksymbol-body-bipedal-tailed{
  @include sprite-rect(51px, 57px, -175px, -60px);
}
.pksymbol-body-head-arms{
  @include sprite-rect(60px, 48px, -228px, -60px);
}
.pksymbol-body-quadruped{
  @include sprite-rect(52px, 58px, -290px, -60px);
}
.pksymbol-type-bug-badge-go{
  @include sprite-rect(58px, 58px, -344px, -60px);
}
.pksymbol-type-dark-badge-go{
  @include sprite-rect(58px, 58px, -404px, -60px);
}
.pksymbol-type-dragon-badge-go{
  @include sprite-rect(58px, 58px, -464px, -60px);
}
.pksymbol-type-electric-badge-go{
  @include sprite-rect(58px, 58px, -524px, -60px);
}
.pksymbol-type-fairy-badge-go{
  @include sprite-rect(58px, 58px, -584px, -60px);
}
.pksymbol-type-fighting-badge-go{
  @include sprite-rect(58px, 58px, -644px, -60px);
}
.pksymbol-type-fire-badge-go{
  @include sprite-rect(58px, 58px, -704px, -60px);
}
.pksymbol-type-flying-badge-go{
  @include sprite-rect(58px, 58px, -764px, -60px);
}
.pksymbol-type-ghost-badge-go{
  @include sprite-rect(58px, 58px, -824px, -60px);
}
.pksymbol-type-grass-badge-go{
  @include sprite-rect(58px, 58px, -884px, -60px);
}
.pksymbol-type-ground-badge-go{
  @include sprite-rect(58px, 58px, -944px, -60px);
}
.pksymbol-type-ice-badge-go{
  @include sprite-rect(58px, 58px, -1004px, -60px);
}
.pksymbol-type-normal-badge-go{
  @include sprite-rect(58px, 58px, -1064px, -60px);
}
.pksymbol-type-poison-badge-go{
  @include sprite-rect(58px, 58px, -1124px, -60px);
}
.pksymbol-type-psychic-badge-go{
  @include sprite-rect(58px, 58px, -1184px, -60px);
}
.pksymbol-type-rock-badge-go{
  @include sprite-rect(58px, 58px, -1244px, -60px);
}
.pksymbol-type-steel-badge-go{
  @include sprite-rect(58px, 58px, -1304px, -60px);
}
.pksymbol-type-water-badge-go{
  @include sprite-rect(58px, 58px, -1364px, -60px);
}
.pksymbol-type-electric{
  @include sprite-rect(45px, 58px, -1424px, -60px);
}
.pksymbol-type-water{
  @include sprite-rect(41px, 58px, -1471px, -60px);
}
.pksymbol-type-fighting{
  @include sprite-rect(67px, 51px, -1514px, -60px);
}
.pksymbol-type-psychic{
  @include sprite-rect(58px, 58px, -1583px, -60px);
}
.pksymbol-type-rock{
  @include sprite-rect(67px, 55px, -1643px, -60px);
}
.pksymbol-type-ground{
  @include sprite-rect(67px, 41px, -1712px, -60px);
}
.pksymbol-type-bug{
  @include sprite-rect(53px, 58px, 0px, -120px);
}
.pksymbol-type-flying{
  @include sprite-rect(66px, 58px, -55px, -120px);
}
.pksymbol-type-ghost{
  @include sprite-rect(57px, 58px, -123px, -120px);
}
.pksymbol-type-poison{
  @include sprite-rect(59px, 58px, -182px, -120px);
}
.pksymbol-type-grass{
  @include sprite-rect(55px, 58px, -243px, -120px);
}
.pksymbol-type-normal{
  @include sprite-rect(58px, 58px, -300px, -120px);
}
.pksymbol-type-dark{
  @include sprite-rect(58px, 58px, -360px, -120px);
}
.pksymbol-type-fire{
  @include sprite-rect(45px, 58px, -420px, -120px);
}
.pksymbol-type-steel{
  @include sprite-rect(67px, 58px, -467px, -120px);
}
.pksymbol-type-dragon{
  @include sprite-rect(49px, 58px, -536px, -120px);
}
.pksymbol-pokedollar-glyph{
  @include sprite-rect(51px, 58px, -587px, -120px);
}
.pksymbol-type-fairy{
  @include sprite-rect(58px, 58px, -640px, -120px);
}
.pksymbol-type-ice{
  @include sprite-rect(67px, 57px, -700px, -120px);
}
.pksymbol-gender-male{
  @include sprite-rect(57px, 58px, -769px, -120px);
}
.pksymbol-gender-female{
  @include sprite-rect(38px, 58px, -828px, -120px);
}
.pksymbol-ui-sync{
  @include sprite-rect(67px, 52px, -868px, -120px);
}
.pksymbol-ui-search{
  @include sprite-rect(57px, 58px, -937px, -120px);
}
.pksymbol-type-bug-badge{
  @include sprite-rect(58px, 58px, -996px, -120px);
}
.pksymbol-type-dark-badge{
  @include sprite-rect(58px, 58px, -1056px, -120px);
}
.pksymbol-type-dragon-badge{
  @include sprite-rect(58px, 58px, -1116px, -120px);
}
.pksymbol-type-electric-badge{
  @include sprite-rect(58px, 58px, -1176px, -120px);
}
.pksymbol-type-fairy-badge{
  @include sprite-rect(58px, 58px, -1236px, -120px);
}
.pksymbol-type-fighting-badge{
  @include sprite-rect(58px, 58px, -1296px, -120px);
}
.pksymbol-type-fire-badge{
  @include sprite-rect(58px, 58px, -1356px, -120px);
}
.pksymbol-type-flying-badge{
  @include sprite-rect(58px, 58px, -1416px, -120px);
}
.pksymbol-type-ghost-badge{
  @include sprite-rect(58px, 58px, -1476px, -120px);
}
.pksymbol-type-grass-badge{
  @include sprite-rect(58px, 58px, -1536px, -120px);
}
.pksymbol-type-ground-badge{
  @include sprite-rect(58px, 58px, -1596px, -120px);
}
.pksymbol-type-ice-badge{
  @include sprite-rect(58px, 58px, -1656px, -120px);
}
.pksymbol-type-normal-badge{
  @include sprite-rect(58px, 58px, -1716px, -120px);
}
.pksymbol-type-poison-badge{
  @include sprite-rect(58px, 58px, 0px, -180px);
}
.pksymbol-type-psychic-badge{
  @include sprite-rect(58px, 58px, -60px, -180px);
}
.pksymbol-type-rock-badge{
  @include sprite-rect(58px, 58px, -120px, -180px);
}
.pksymbol-type-steel-badge{
  @include sprite-rect(58px, 58px, -180px, -180px);
}
.pksymbol-type-water-badge{
  @include sprite-rect(58px, 58px, -240px, -180px);
}
.pksymbol-type-bug-badge-masters{
  @include sprite-rect(58px, 58px, -300px, -180px);
}
.pksymbol-type-dark-badge-masters{
  @include sprite-rect(58px, 58px, -360px, -180px);
}
.pksymbol-type-dragon-badge-masters{
  @include sprite-rect(58px, 58px, -420px, -180px);
}
.pksymbol-type-electric-badge-masters{
  @include sprite-rect(58px, 58px, -480px, -180px);
}
.pksymbol-type-fairy-badge-masters{
  @include sprite-rect(58px, 58px, -540px, -180px);
}
.pksymbol-type-fighting-badge-masters{
  @include sprite-rect(58px, 58px, -600px, -180px);
}
.pksymbol-type-fire-badge-masters{
  @include sprite-rect(58px, 58px, -660px, -180px);
}
.pksymbol-type-flying-badge-masters{
  @include sprite-rect(58px, 58px, -720px, -180px);
}
.pksymbol-type-ghost-badge-masters{
  @include sprite-rect(58px, 58px, -780px, -180px);
}
.pksymbol-type-grass-badge-masters{
  @include sprite-rect(58px, 58px, -840px, -180px);
}
.pksymbol-type-ground-badge-masters{
  @include sprite-rect(58px, 58px, -900px, -180px);
}
.pksymbol-type-ice-badge-masters{
  @include sprite-rect(58px, 58px, -960px, -180px);
}
.pksymbol-type-normal-badge-masters{
  @include sprite-rect(58px, 58px, -1020px, -180px);
}
.pksymbol-type-poison-badge-masters{
  @include sprite-rect(58px, 58px, -1080px, -180px);
}
.pksymbol-type-psychic-badge-masters{
  @include sprite-rect(58px, 58px, -1140px, -180px);
}
.pksymbol-type-rock-badge-masters{
  @include sprite-rect(58px, 58px, -1200px, -180px);
}
.pksymbol-type-steel-badge-masters{
  @include sprite-rect(58px, 58px, -1260px, -180px);
}
.pksymbol-type-water-badge-masters{
  @include sprite-rect(58px, 58px, -1320px, -180px);
}
.pksymbol-pokeball-logo{
  @include sprite-rect(58px, 58px, -1380px, -180px);
}
.pksymbol-move-special-home{
  @include sprite-rect(67px, 47px, -1440px, -180px);
}
.pksymbol-move-status-home{
  @include sprite-rect(67px, 45px, -1509px, -180px);
}
.pksymbol-move-physical-home{
  @include sprite-rect(67px, 52px, -1578px, -180px);
}
.pksymbol-form-mega{
  @include sprite-rect(58px, 58px, -1647px, -180px);
}
